body{
    background-color: lemonchiffon;
}

#score{
    font-size: 30px;
}

#timer{
    font-size: 30px;
    float: right;
    margin: 10%;
}

#show_sketch{
    color: navy;
    background-color: lemonchiffon;
    float: right;
}

h1
{
  font-family: 'Special Elite', fantasy;
  color:lightskyblue;
  background-color: cornsilk;
}

#show_sketch
{
  float:right;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px rgb(119, 0, 255);
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px orange(128, 128, 128);}
  to {box-shadow: 1px 1px 38px white;}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }
